@import 'reset.less';

#sourcelayers-root {
  @import "../../node_modules/material-ui/src/less/scaffolding.less";

  span.button-sample {
    color: @accent-1-color;
  }

  span.accent {
    color: @accent-1-color;
  }

  span.primary {
    color: @primary-1-color;
  }

  //App Colors
  @primary-1-color: @teal-500;
  @primary-2-color: @teal-700;
  @primary-3-color: @teal-100;
  @accent-1-color: @pink-A200;
  @accent-2-color: @pink-A400;
  @accent-3-color: @pink-A100;

  @import "../../node_modules/material-ui/src/less/components.less";

  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow-y: scroll;

  @import './root/sidebar';
  @import './root/main';
  @import './root/search_button';
  @import './root/histories';
}
